<table class="table table-striped">
    <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">{{'first name'|trans|capitalize}}</th>
          <th scope="col">{{'last name'|trans|capitalize}}</th>
          <th scope="col">{{'email'|trans|capitalize}}</th>
          <th scope="col">{{'kind'|trans|capitalize}}</th>
          {% if app.user is defined and app.user is not null and app.user.hasRole('ROLE_ADMIN') %}
            <th scope="col">{{'actions'|trans|capitalize}}</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for client in clients %}
          <tr>
              <td>{{client.id}}</td>
              <td>{{client.firstName}}</td>
              <td>{{client.lastName}}</td>
              <td>{{client.email}}</td>
              <td>{{client.kind.name|trans}}</td>
              {% if app.user is defined and app.user is not null and app.user.hasRole('ROLE_ADMIN') %}
                <td><a href="{{path('admin_client_edit', {client: client.id})}}" class="btn btn-primary"><i class="fas fa-edit"></i> {{"edit"|trans|capitalize}}</a></td>
              {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>