
  
  <!--Main Navigation-->
  <header>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-main navbar-dark bg-dark d-lg-block" style="z-index: 2000;">
      <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarExample01"
          aria-controls="navbarExample01" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarExample01">
                    <!-- Navbar brand -->
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link {% if app.request.get('_route') == "public_clients" %}active{% endif %}" aria-current="page" href="{{path('public_index')}}"><i class="fas fa-home"></i></a>
            </li>
          </ul>

          <ul class="navbar-nav list-inline">
            <!-- Icons -->

            {% if app.user is defined and app.user is not null %}
            <li class="nav-item ">
                <a class="nav-link " href="{{path('admin_index')}}" rel="nofollow">
                  <span class="btn btn-success text-white">
                      <i class="fas fa-user"></i> {{app.user.email}}
                  </span>
                </a>
              </li>
            {% else %}
            <li class="nav-item ">
                <a class="nav-link " href="{{path('app_login')}}" rel="nofollow">
                  <span class="btn btn-success text-white">
                      <i class="fas fa-sign-in-alt"></i> {{'Sign in'|trans|capitalize}}
                  </span>
                </a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <!-- Navbar -->
  </header>